<% provide(:title, 'All superadmins') %>
<h1>All superadmins</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th colspan ="1"></th>
  </tr>
  </thead>
<tbody>
  <% @users.each do |user| %>
<tr>
        <td><%=user.name%></td>
        <td><%=user.email%></td>
        <td><%=link_to'show',user%>
  <% end %>
  </td>
  </tr>
</tbody>
</table>
